nav {
    margin-bottom: 20px;
}

.box {
  background: hsl(0, 0%, 21%);
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

main {
    animation: fadein 2s;
}

.appear {
    animation: fadein 2s;
}

.cursor {
    display: inline-block;
    background-color: white;
    animation: blink 1s steps(5, start) -0.5s infinite;
    width: 0.5em;
    height: 0.9em;
    padding: 0;
    margin-left: 0.25em;
    margin-bottom: -0.075em;
}

.typing {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    animation: typing 5s steps(20, end);
    vertical-align: text-bottom;
    max-width: min-content;
}

.strike {
    height: 1px;
    background: linear-gradient(to right, hsl(0, 0%, 21%), 60%, #FFF);
    margin: 20px 0;
    width: 50%;
}


/*
Animations
------------------------------------------
*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

